.one {
    border: red dotted 5px;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    font-size: 24px;
}

.nav {
    border: blue dotted 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    gap: 10px;
    font-size: 18px;
}

.two {
    border: red dotted 5px;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.three {
    border: blue dotted 5px;
    display: flex;
    max-width: 250px;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    background-color: #1F2937;
}

.button1 {
    background-color: #3882f6;
    color: white;
}

.four {
    border: blue dotted 5px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.five {
    border: red dotted 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.six {
    border: blue dotted 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.card {
    border: 5px greenyellow dotted;
    display: flex;
    max-height: 200px;
    max-width: 300px;
    margin: 50px;       
}

.container {
    border: 5px pink dotted;
    display: flex;
}

.seven {
    border: red dotted 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eight {
    border: red dotted 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nine {
    border: blue dotted 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.ten {
    border: blue dotted 5px;
    display: flex;
}

.eleven {
    border: red dotted 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

